.btn-container {
  color: white;
  display: flex;
  background-color: #1e1e30;
  padding: 10px;
  border-radius: 12px;
  margin-left: 100px;
  margin-right: 100px;
}
.btn {
  color: #007bff;
  margin: 10px;
  font-family: 'bold';
}
